.title {
  text-align: center;
}

.spaceDiv {
  padding-left: 15px;
  /*padding-top: 15px;*/
  padding-bottom: 15px;
  /*margin-top: 20px;*/
}

.cardSpace {
  margin: 10px;
  width: 75%;
  min-width: fit-content;
  word-wrap: normal !important;
}

.errorBackround {
  background-color: rgb(250, 220, 220) !important;
}

.backGround {
  background-color: rgb(223, 240, 216) !important;
  min-width: 400px !important;
}

.card {
  background-color: rgb(223, 240, 216) !important;
}
